src/main/mule/sample-poc1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c46caa4e-3a43-46fa-87a4-5041b257b06f" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="sample-poc1Flow" doc:id="a2698f5a-6825-4ee6-9a12-2f7efc236fd8" >
		<http:listener doc:name="Listener" doc:id="33bdb404-233f-40d8-a157-c32fc5d38e0d" config-ref="HTTP_Listener_config" path="poc1"/>
		<ee:transform doc:name="Transform Message" doc:id="a883f915-d86e-417f-bc7f-5351323d6c0b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Hi"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="16fd9e1f-1f6c-475a-915a-4778a2cc1636" message="#[payload]"/>
	</flow>
</mule>
